[submodule "vim_plugin/indentLine"]
	path = vim_plugin/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim_plugin/YouCompleteMe"]
	path = vim_plugin/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim_plugin/vim-powerline"]
	path = vim_plugin/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim_plugin/vim-expand-region"]
	path = vim_plugin/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "vim_plugin/vim-multiple-cursors"]
	path = vim_plugin/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim_plugin/vim-easymotion"]
	path = vim_plugin/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim_plugin/nerdtree"]
	path = vim_plugin/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim_plugin/vimtex"]
	path = vim_plugin/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
